@model IEnumerable<PlayerBounties.Models.KillShotImage>

<script type="text/javascript">
	$(document).ready(function loadSlider()
	{
		//THSLIDE - THUMBNAILS SLIDER
		$('#bountyImages').thslide({
			itemOffset: 174,
			infiniteScroll: 1
		});
	});
</script>

@if(Model.Count() != 0)
{
	<div id="bountyImages">
		<b style="font-size: large; color: #000000;">Bounty Kill Shots</b><br />
		<div id="bountyImageSlider" class="thslide">			
			<div class="thslide_nav_previous" style="width: 30px; float:left;">
				<a href="#"><input id="btnPrev" type="button" value="<" /></a>
			</div>

			<div class="thslide_nav_next" style="width: 30px; float:right;">
				<a href="#"><input id="btnNext" type="button" value=">" /></a>
			</div>

			<div class="thslide_list" style="position: relative; overflow: hidden; z-index: 2; left: 0px; width: 900px;" >
				<ul style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: relative; overflow: hidden; list-style-type: none; z-index: 1; width: @Math.Abs(@Model.Count() * 180)px;">
					@foreach(var item in Model)
					{
						<li style="float: left; width: 168px; height: 168px; margin: 6px;">
							<a href="@Url.Action("Details", "Bounty", new { id = item.GetBountyId(item.Id) })"><img src="../../Content/Images/Thumbnails/@item.ThumbnailFileName" alt="Kill Image" id="killImage" style="width: 168px;" /></a>
						</li>
					}	
				</ul>
			</div>
		</div>
	</div>
}