@model IEnumerable<PlayerBounties.Models.KillShotImage>

<script type="text/javascript">
	$(document).ready(function()
	{
		$(".killShotCarousel .killShotImages").jCarouselLite({
			btnNext: ".next",
			btnPrev: ".prev",
			start: 0,
			visible: 6,
			scroll: 6,
			circular: true,
		});
	});
</script>

<div class="killShotCarousel">
	<div id="leftNavigation" style="width: 19px; float:left;">
		<img class="prev" src="../../Content/Images/navigateLeft.jpg" alt="prev" id="navigateLeft" style="width: 19px" />
		<!--<button class="prev">&lt;&lt;</button>-->
	</div>

	<div id="rightNavigation"style="width: 19px; float:right;">
		<img class="next" src="../../Content/Images/navigateRight.jpg" alt="next" id="navigateRight" style="width: 19px" />
		<!--<button class="next">&gt;&gt;</button>-->
	</div>

	<div class="killShotImages" style="visibility: visible; overflow-x: hidden; overflow-y: hidden; position: relative; z-index: 2; left: 0px; width: 942px; ">
		<ul style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: relative; list-style-type: none; z-index: 1; width: @Math.Abs(@Model.Count() * 135)px;">
			@foreach(var item in Model)
			{
				<li style="float: left; width: 145px; height: 145px; background-color: #CCCCCC; margin: 6px;">
					<a href="@Url.Action("Details", "Bounty", new { id = item.GetBountyId(item.Id) })"><img src="../../Content/Images/Thumbnails/@item.ThumbnailFileName" alt="Kill Image" id="killImage" style="width: 125px" /></a>
				</li>   
			}	
		</ul>
	</div>
</div>