@using(Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "searchForm" }))    
{
	<table cellspacing="0" cellpadding="5" border="0">
		<tr>
			<td id="searchTxt" style="width: 250px;">
				@Html.TextBox("txtSearch", "Search for characters")
			</td>
			<td id="searchbtn">
				<input id="Search" type="submit" value="Search" />
			</td>
		</tr>
	</table>
}