@model PlayerBounties.Models.Bounty

<div id="bountySummaryTable" class="statisticsContainer">
	<table cellspacing="0" cellpadding="3" border="0" style="width: 225px; font-size: 12px;">
		<thead>
			<tr>
				<th colspan="2" style="text-align: left;">Overall Statistics</th>
			</tr>
		</thead>

		<tbody>
			@if(Model.GetCompletedBounties().Count() != 0)
			{
				<tr>
					<td class="inputLabelCell">Total Bounties Completed:</td>
					<td align="left">@Model.GetCompletedBounties().Count()</td>
				</tr>
			}
			else
			{
				<tr>
					<td class="inputLabelCell">Total Bounties Completed</td>
					<td align="left">0</td>
				</tr>
			}

			@if(Model.GetActiveBounties().Count() != 0)
			{		
				<tr>
					<td class="inputLabelCell">Total Active Bounties:</td>
					<td align="left">@Model.GetActiveBounties().Count()</td>
				</tr>
			}
			else
			{		
				<tr>
					<td class="inputLabelCell">Total Active Bounties</td>
					<td align="left">0</td>
				</tr>
			}

			@if(Model.GetLargestBountyPlaced().FirstOrDefault() != null)
			{	
				<tr>
					<td class="inputLabelCell">Largest Bounty Placed:</td>
					<td align="left">@Model.GetLargestBountyPlaced().FirstOrDefault().Amount</td>
				</tr>
			}
			else
			{		
				<tr>
					<td class="inputLabelCell">Largest Bounty Placed</td>
					<td align="left">0</td>
				</tr>
			}
		</tbody>
	</table>
</div>