@model IEnumerable<PlayerBounties.Models.Character>

<div id="topClientsTable" class="statisticsContainer">
	<table cellspacing="0" cellpadding="5" border="0">
		<thead>
			<tr>
				<th colspan="4" style="text-align: left;">Top Clients</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Character Name</th>
				<th>Shard</th>
				<th>Bounties</th>
				<th>Amount Spent</th>
			</tr>
		
			@foreach(var item in Model)
			{
				<tr>
					<td class="inputLabelCell @item.GetClassStyle(item.CharacterClass(item.Id))">
						@Html.ActionLink(item.Name, "Details", "Character", new { id = item.Id }, null)
					</td>
					<td align="left">
						@item.CharacterShard(item.Id)
					</td>
					<td align="center">
						@item.GetBountiesPlacedCount(item.Id)
					</td>
					<td align="left">
						To Do
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>