<script type="text/javascript">
	$(function()
	{
		$("#tabs").tabs();
		$(".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *")
			.removeClass("ui-corner-all ui-corner-top")
			.addClass("ui-corner-bottom");
	});
</script>

<div id="killShotImageTable" style="width: 980px; padding-left: 10px; padding-bottom: 20px; position: absolute; bottom: 0;">	
	<div id="targetsKilledImages">
		<h2 style="padding-bottom: 0; margin-bottom: 5px;">Recent Kill Shots</h2>
		@Html.Action("KillShotImages", "Home", new { imageType = "targetsKilled" })
	</div>
</div>