<div id="killShotImageTable tabs" style="width: 980px; padding-left: 10px; padding-bottom: 20px; position: absolute; bottom: 0;">
	<h2 style="padding-bottom: 0; margin-bottom: 5px;">Recent Kill Shots</h2>	
	<div id="targetsKilledImages">
		@Html.Action("KillShotImages", "Home", new { imageType = "targetsKilled" })
	</div>
</div>