@{
    ViewBag.Title = " | Dashboard";
}

<div id="searchBar">
    @Html.Partial("_Search")
</div>

<p>image slider of characters</p>
@Html.Action("Characters", "Dashboard")

<h3>Account Statistics</h3>

<h3>Kill Images</h3>