@model IEnumerable<PlayerBounties.Models.Character>

@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("_Search")

<div id="characterManagement">

	@Html.Action("Characters", "Dashboard")

</div>

@if(Model != null)
{
	@Html.ActionLink("Place a Bounty", "PlaceBounty", "Bounty")
}

<h3>Account Statistics</h3>

<h3>Kill Images</h3>