@model PlayerBounties.ViewModels.BountyCreateViewModel
		   
@{
    ViewBag.Title = "Place Bounty - " + Model.Character.Name;
}

@using(Html.BeginForm("Create", "Bounty"))
{	
    @Html.ValidationSummary(false)

    <div class="rowBlank">
	    @Html.Partial("_BountyCreateEdit", Model)
	</div>
	
	<div class="rowBlank">
		<input type="submit" value="Create" />			
		<input type="button" value="Cancel" onclick="window.history.back()"/>
	</div>	
}