@model PlayerBounties.ViewModels.BountyCreateViewModel

@{
    ViewBag.Title = "Edit Bounty - " + Model.Character.Name;
}

@using(Html.BeginForm())
{
    @Html.ValidationSummary(false)

    @Html.HiddenFor(model => model.Character.Id)
	@Html.HiddenFor(model => model.Bounty.Id)
	
	<div class="rowBlank">
	    @Html.Partial("_BountyCreateEdit", Model)
	</div>
	
	<div class="rowBlank">
		<input type="submit" value="Save" />			
		<input type="button" value="Cancel" onclick="window.history.back()"/>
	</div>
}