From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty has been completed on @Model.TargetName 

<html>
	<body>
		<p>
			Attention @Model.TargetName
		</p>
		<p>
			The bounty placed on your head has been completed
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>