From: Player-Bounties@playerbounties.com
To: tmacblane@gmail.com
Subject: @Model.Subject

<html>
	<body>
		<p>
			Attention Admin
		</p>
        <p>
            From @Model.EmailAddress
        </p>
        <p>
            @Model.Subject
        </p>
        <p>
            @Model.Message
        </p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>