From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: The bounty being collected on @Model.TargetName is pending approval for completion

<html>
	<body>
		<p>
			The bounty on @Model.TargetName has been submitted for approval.  Please refrain from hunting @Model.TargetName
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>