From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Your password for PlayerBounties.com has been reset

<html>
	<body>
		<p>
			Hello @Model.UserEmailAddress</p>
		<p>
			Your password has been reset.  Your new temporary password is: <br />
			
			<strong>@Model.Password</strong>
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>