From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Welcome to PlayerBounties.com

<html>
	<body>
		<p>
			Welcome to the Great Hunt!</p>
		<p>
			Nemro the Hutt has decided to sponser you in an interplanetary contest for those looking to make a 
			name for themselves in the galaxy, by hunting the most vial of criminals.  As a contender, Nemro 
			expects nothing short of greatness, and he will not hesitate to have you killed should you fail.
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>