From: no-reply@playerbounties.com
To: @Model.UserEmailAddress
Subject: Welcome to PlayerBounties.com

<html>
	<body>
		<p>
			Hello Hunter,</p>
		<p>
			Welcome to PlayerBounties, you're something something about placing bounties on
			players in Star Wars the Old Republic!</p>
		<p>
			Thanks and Enjoy!</p>
	</body>
</html>