@model PlayerBounties.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

@using(Html.BeginForm())
{ 
    @Html.ValidationSummary(false)
	
    <div id="loginForm" class="centeredForm" style="width: 400px;">
		<div class="rowBlank">
			@Html.LabelFor(model => model.EmailAddress)
			@Html.ValidationMessageFor(model => model.EmailAddress, "*")
		<br />
			@Html.TextBoxFor(model => model.EmailAddress)
		</div>

		<div class="rowBlank">
			<input type="submit" value="Submit" />
			<input type="button" value="Cancel" onclick="window.location='../Home/Index'"/>
		</div>
	</div>
}