@model PlayerBounties.ViewModels.CharacterAddEditViewModel

@{
	ViewBag.Title = "Character Creation";
}

@using(Html.BeginForm("Create", "Character"))
{	
    @Html.ValidationSummary(false)

    <div style="margin: 20px;">
	    @Html.Partial("_CharacterAddEdit", Model)
	</div>
	
	<div style="margin-right: 20px; float:right; clear: both;">
		<input type="submit" value="Create" />			
		<input type="button" value="Cancel" onclick="window.history.back()"/>
	</div>	
}