@model PlayerBounties.ViewModels.CharacterAddEditViewModel

@{
	ViewBag.Title = "Edit Character - " + Model.Character.Name;
}

@using(Html.BeginForm())
{
    @Html.ValidationSummary(false)

    @Html.HiddenFor(model => model.Character.Id)
	
	@Html.Partial("_CharacterAddEdit", Model)
	
	<div class="rowBlank">
		<input type="submit" value="Save" />			
		<input type="button" value="Cancel" onclick="window.history.back()"/>
	</div>
}